*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1600px;
    margin: auto;
    /* border: 1px solid salmon; */
}
.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.hero-section{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.hero-container{
    /* width: 1600px; */
    position: absolute;
    /* border: 2px solid slateblue; */
    text-align: right;
    margin: 216px 230px 364px 845px;
}

.hero-container .hero-heading{
    width: 525px;
    justify-content: center; 
    /* margin: 216px 230px 364px 845px;  */
    /* border: 2px solid red; */
 }
.hero-container h3{
    /* width: 525px; */
    font-size: 65px;
    padding-bottom: 24px;
    color: #FFFFFF;
    text-align: right;
    /* margin: 216px 230px 364px 845px; */
}
.hero-paragraph p{
    display: inline-block;
    width: 494px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: right;
    /* border: 1px solid salmon; */
    font-size: 16px;
    font-weight:300;
    padding-bottom: 32px
    /* margin: 216px 230px 364px 876px */
}

.btn{
    width: 160px;
    height: 64px;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
}

#middle-section{
    /* display: flex;  */
    /* align-items: center;  */
    /* width: 1072px; */
    margin: auto; 
    border: 3px solid tomato;
}
#middle-section .middle-container{
    /* width: 1072px; */
    display: flex;;
    /* align-items: center; */
    border: 1px solid rgb(250, 4, 4);
    margin: 131px 322px 0px 206px;  
}

#middle-section .heading{
    position: absolute;
    margin: 239px 0 84.3px 862px;
    border: 1px solid seagreen;
    width: 416px
}
.middle-container h4{
    width: 288px;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 24px;
}

.middle-container p{
    /* width: 416px; */
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding-bottom: 16px;
}

li{
    list-style: none;
    color:#444343;
    line-height: 26px;
}
