    *{
        margin: 0;
        padding: 0;
    }
    header{
        background-color: #008afcc5;
        /* background-image: url('/images/banner/banner3.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 808px; */
    }

    .container{
        max-width: 1600px;
        margin: auto;
        /* border: 1px solid salmon; */
    }
    .font-work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    }

    .hero-section{
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
    }

    .hero-container{
        /* width: 1600px; */
        position: absolute;
        /* border: 2px solid slateblue; */
        text-align: right;
        margin: 216px 230px 364px 845px;
    }

    .hero-container .hero-heading{
        width: 525px;
        justify-content: center; 
        /* margin: 216px 230px 364px 845px;  */
        /* border: 2px solid red; */
    }
    .hero-container h3{
        /* width: 525px; */
        font-size: 65px;
        padding-bottom: 24px;
        color: #FFFFFF;
        text-align: right;
        /* margin: 216px 230px 364px 845px; */
    }
    .hero-paragraph p{
        display: inline-block;
        width: 494px;
        line-height: 26px;
        color: #FFFFFF;
        text-align: right;
        /* border: 1px solid salmon; */
        font-size: 16px;
        font-weight:300;
        padding-bottom: 32px
        /* margin: 216px 230px 364px 876px */
    }

    .btn{
        width: 160px;
        height: 64px;
        padding: 5px;
        border-radius: 5px;
        border-style: none;
        color: #005FAC;
        font-weight: 600;
        font-size: 20px;
    }

    #middle-section{
        /* display: flex;  */
        /* align-items: center;  */
        /* width: 1072px; */
        margin: auto; 
        /* border: 3px solid tomato; */
    }
    #middle-section .middle-container{
        /* width: 1072px; */
        display: flex;;
        align-items: center;
        /* border: 1px solid rgb(250, 4, 4); */
        margin: 131px 322px 0px 206px;  
    }

    #middle-section .heading{
        position: absolute;
        margin: 239px 0 84.3px 862px;
        /* border: 1px solid seagreen; */
        width: 416px
    }
    .middle-container h4{
        width: 288px;
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 24px;
    }

    .middle-container p{
        /* width: 416px; */
        font-size: 16px;
        line-height: 26px;
        color: #444343;
        padding-bottom: 16px;
    }

    li{
        list-style: none;
        color:#444343;
        line-height: 26px;
    }

    #plan-section .plan{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-top: 129px;
        margin-bottom: 50px;
    }

    .first-plan{
        font-size: 30px;
        font-weight: bold;
    }

    .plan-container{
        display: flex;
        justify-content: space-around;
        margin: 0px 229px 0px 230px;
        gap: 86px;
        padding-bottom: 130px;
    }

    .watch-container {
        position: relative; 
        width: 1140px; 
        margin: 100px auto 130px auto; 
        border-radius: 10px;
        overflow: hidden; 
    }


    .base-img {
        width: 100%;
        height: auto;
        /* display: block; */
    }


    .gradient-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

    }


    .watch-content {
        position: absolute;
        top: 50%; 
        left: 80px; 
        transform: translateY(-50%); 
        z-index: 10; 
    }

    .watch-content h2 {
        color: white;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 24px;
        max-width: 450px;
    }

    .btn-white {
        width: 160px;
        height: 64px;
        background-color: white;
        color: #005FAC;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
    }

   #footer-container {
    background-color: #151414;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    
    padding: 130px 230px; 
    color: #FFFFFF;
}

.left {
    width: 485px;
}

.left h4 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 30px;
}

.left p {
    color: #FFFFFF;
    line-height: 26px;
    padding-bottom: 20px;
}

.icons {
    margin-top: 10px;
}

.icons img {
    margin-right: 15px; 
}


.right h4 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 30px;
}

.subscribe-form {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.subscribe-form input {
    width: 100%;
    padding: 18px 20px;
    background-color: transparent; 
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.subscribe-form button {
    padding: 18px 20px;
    background-color: #005FAC; 
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}